
.icon-translate:before { content: '\e800'; } /* '' */
.icon-headphones:before { content: '\e801'; } /* '' */
.icon-box:before { content: '\e802'; } /* '' */
.icon-language:before { content: '\e803'; } /* '' */
.icon-doc-text:before { content: '\e804'; } /* '' */
.icon-sound:before { content: '\e805'; } /* '' */
.icon-chart-line:before { content: '\e806'; } /* '' */
.icon-hammer:before { content: '\e807'; } /* '' */
.icon-water:before { content: '\e808'; } /* '' */
.icon-volume-up:before { content: '\e809'; } /* '' */
.icon-music:before { content: '\e80a'; } /* '' */
.icon-network:before { content: '\e80b'; } /* '' */
.icon-doc:before { content: '\e80c'; } /* '' */
.icon-check:before { content: '\e80d'; } /* '' */
.icon-website:before { content: '\e80e'; } /* '' */
.icon-feather:before { content: '\e80f'; } /* '' */
.icon-th-large-outline:before { content: '\e810'; } /* '' */
.icon-upload-cloud:before { content: '\e811'; } /* '' */
.icon-pencil:before { content: '\e812'; } /* '' */
.icon-comment-1:before { content: '\e813'; } /* '' */
.icon-grid:before { content: '\e814'; } /* '' */
.icon-th:before { content: '\e815'; } /* '' */
.icon-resize-full-outline:before { content: '\e816'; } /* '' */
.icon-website-circled:before { content: '\e817'; } /* '' */
.icon-phone:before { content: '\e818'; } /* '' */
.icon-flow-branch:before { content: '\e819'; } /* '' */
.icon-library:before { content: '\e823'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-sort-number-up:before { content: '\f162'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */