<!-- NavBar -->
<footer class="page-footer cyan darken-1">
    <div class="container">
        <div class="row">
            <div class="col l8 s12">
                <h5 class="white-text">About</h5>
                    <p class="grey-text text-lighten-4 default">
                        Matthew D. Scholefield is a software developer with a focus
                        in machine learning. Side interests include digital art
                        and music composition.
                    </p>
            </div>
            <div class="col l2 s12">
                <h5 class="white-text">Contact</h5>
                <ul>
                    <li>
                        <a class="white-text" href="mailto://matthew.d.scholefield@gmail.com">Email</a>
                    </li>
                    <li>
                        <a class="white-text" href="https://plus.google.com/+MatthewScholefield/">Google+</a>
                    </li>
                    <li>
                        <a class="white-text" href="https://twitter.com/69906">Twitter</a>
                    </li>
                </ul>
            </div>
            <div class="col l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li>
                        <a class="white-text" href="https://github.com/MatthewScholefield">GitHub</a>
                    </li>
                    <li>
                        <a class="white-text" href="https://www.linkedin.com/in/matthewscholefield/">Linkedin</a>
                    </li>
                    <li>
                        <a class="white-text" href="https://www.youtube.com/matthewscholefield">YouTube</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by
            <a class="orange-text text-lighten-3" href="https://github.com/Wolfgange3311999">Matthew D. Scholefield</a>
        </div>
    </div>
</footer>

