<div class="navbar-fixed">
    <nav class="cyan" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="index.html" class="brand-logo">
                <img style="height:25px;" src="images/logo.png">
            </a>
            <ul class="right hide-on-med-and-down">
                <li class="waves-effect waves-light">
                    <a href="projects.html">Projects</a>
                </li>
                <li class="waves-effect waves-light">
                    <a href="https://github.com/MatthewScholefield/">GitHub</a>
                </li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li>
                    <a href="projects.html">Projects</a>
                </li>
                <li>
                    <a href="https://github.com/MatthewScholefield/">GitHub</a>
                </li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>
</div>
